@font-face {
    font-family: "Instrument Sans";
    src: url(instrumentSans.ttf);
}
body {
    overflow: hidden;
    font-family: "Instrument Sans";
}
*:not(.canSelect) {
    user-select: none;
}
#bg {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    z-index: -9;
}
#mainContent {
    width: 935px;
    height: fit-content;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
#time {
    font-size: 100px;
    margin: 0;
    text-align: center;
}
.shadow:is(p) {
    text-shadow: 0px 7px 8px #00000063;
}
.shadow:not(p) {
    box-shadow: 0px 7px 8px #00000063;
}
.glassBox {
    background-color: #d9d9d980;
    border-radius: 24px;
    backdrop-filter: blur(12px);
    outline: inset;
    outline-color: #00000010;
    outline-width: 3px;
    outline-style: solid;
}
#search {
    margin-top: 30px;
    width: 100%;
    height: 64px;
}
input {
    width: 100%;
    height: 100%;
    font-family: "Instrument Sans";
    background-color: transparent;
    border: none;
    outline: none;
}
#search input {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    width: calc(100% - 40px);
}
#bookmarks {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    padding-bottom: 14px;
}
.bookmark {
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #ffffff40;
    border: none;
    margin-left: 15px;
    margin-top: 14px;
    border-radius: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}